<app-icon-count
  [tickType]="tickTypes.Workout"
  [totalBites]="6"
  [everyMinutes]="120"
  [startHour]="8"
></app-icon-count>
<hr />
<app-icon-count
  [tickType]="tickTypes.Water"
  [totalBites]="5"
  [everyMinutes]="180"
  [startHour]="8"
></app-icon-count>
<hr />
<app-icon-count
  [tickType]="tickTypes.Clean"
  [totalBites]="3"
  [everyMinutes]="240"
  [startHour]="8"
></app-icon-count>
<hr />
<app-icon-count
  [tickType]="tickTypes.Dog"
  [totalBites]="3"
  [everyMinutes]="360"
  [startHour]="8"
></app-icon-count>
<hr />
<app-icon-count
  [tickType]="tickTypes.Food"
  [totalBites]="6"
  [everyMinutes]="60"
  [startHour]="12"
></app-icon-count>
<hr />
<app-icon-count
  [tickType]="tickTypes.Work"
  [totalBites]="3"
  [everyMinutes]="160"
  [startHour]="10"
></app-icon-count>
<hr />
<app-icon-count
  [tickType]="tickTypes.Socials"
  [totalBites]="2"
  [everyMinutes]="240"
  [startHour]="13"
></app-icon-count>
